name: Deploy service backend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git pull origin main
            npm install --production
            /root/.nvm/versions/node/v24.11.1/bin/pm2 restart service-backend || /root/.nvm/versions/node/v24.11.1/bin/pm2 start server.js --name service-backend
            /root/.nvm/versions/node/v24.11.1/bin/pm2 save
